# editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
max_line_length = 120

[*.php]
indent_style = space

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[node_modules/**.js]
codepaint = false

[package.json]
indent_style = tab
indent_size = 2

[docker-compose.yml]
indent_size = 4
